@using HRSample.ViewModels
@model EmployeeViewModel

<div>
    <p><strong>Name:</strong> @Model.FirstName</p>
    <p><strong>Family:</strong> @Model.LastName</p>
    <p><strong>City:</strong> @Model.City</p>
    <p><strong>Zip:</strong> @Model.Zip</p>
</div>
